- sample = entity
- action_card = ActionCard.new 
= action_card_render action_card do
  - affected_genes = sample.get_genes :affected
  - broken_genes = sample.get_genes(:broken).name
  - organism = affected_genes.organism
  = table do
    - tsv = Pandrugs.job(:annotate_genes, sample, :genes => affected_genes, :organism => organism).run
    - tsv.add_field "Broken" do |drug,values|
      - broken_genes.include? values.first
    - tsv

